@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
}

.footer-link:hover {
  color: #4f46e5;
}